<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <section class="h-100 gradient-form">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="" style="width: 70%;">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="">
                                <div class="card-body p-md-5 mx-md-4" style="margin-left: 100px;">

                                    <div class="text-center">
                                        <img src="https://khanhhoa.gov.vn/Temp/ArticleImage/d987f790-2c28-413a-b249-0a41b35e03c5.jpg"
                                            style="width: 400px;
                                height: 250px;
                                clip-path: circle(95px at 50% 50%);" alt="logo">
                                        <h4 class="mt-1 mb-5 pb-1">LOGIN</h4>
                                    </div>

                                    <form method="post">
                                        <div class="form-outline mb-4">

                                            <label class="form-label" for="form2Example11">Username</label>
                                            <input class="form-control" name="userName" type="text"
                                                placeholder="Type your username....">

                                        </div>

                                        <div class="form-outline mb-4">

                                            <label class="form-label" for="form2Example22">Password</label>
                                            <input class="form-control" name="password" type="password"
                                                placeholder="At least 6 characters">
                                        </div>
                                        <% if(success_msg !='' ){ %>
                                            <%= success_msg %>
                                                <% } %>
                                                    <% if(error_msg !='' ){ %>
                                                        <div class="alert alert-warning alert-dismissible has-text-centered mt-4 has-text-danger"
                                                            role="alert">
                                                            <%= error_msg %>
                                                        </div>
                                                        <% } %>

                                                            <% if(error !='' ){ %>
                                                                <div class="alert alert-warning alert-dismissible has-text-centered mt-4 has-text-danger"
                                                                    role="alert">
                                                                    <%= error %>
                                                                </div>
                                                                <% } %>
                                                                    <div class="text-center pt-1 mb-5 pb-1">

                                                                        <button
                                                                            class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3">Login</button><br>
                                                                        <a class="text-muted" href="#!">Forgot Password
                                                                            ?</a>

                                                                    </div>

                                                                    <div
                                                                        class="d-flex align-items-center justify-content-center pb-4">
                                                                        <p class="mb-0 me-2">Don't have an account ?</p>
                                                                        <a type="button" class="btn btn-outline-danger"
                                                                            href="/users">
                                                                            Create new</a>
                                                                    </div>

                                    </form>

                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>