<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="post">
         <div class="field">
             <label class="label">Username</label>
             <div class="control">
                 <input class="input" name="username" type="text" placeholder="Type your username....">
                 </div>
             </div>
         <div class="field">
             <label class="label">Password</label>
             <div class="control">
                 <input class="input is-success" name="password" type="password">
                 </div>
             </div>
         <div class="field is-grouped">
             <div class="control">
                 <button class="button is-link">Register</button>
                 </div>
             </div>
        </form>
</body>

</html>